{% extends 'base.html' %}

{% block page_title %}Wheel Aligner{% endblock %}

{% block title %}Wheel Aligner{% endblock %}

{% block content %}
<div class="row-fluid text-center">
  <div class="col-xs-12">
    <a href="/wheel-alignment" role="button" class="btn btn-geo btn-xl btn-block geo-home-buttons">Wheel Alignment</a>
  </div>
  <div class="col-xs-12">
    <a href="" role="button" class="btn btn-geo btn-xl btn-block geo-home-buttons disabled">Steer Lock + Ackerman</a>
  </div>
  <div class="col-xs-12">
    <a href="" role="button" class="btn btn-geo btn-xl btn-block geo-home-buttons disabled">Camber</a>
  </div>
  <div class="col-xs-12">
    <a href="" role="button" class="btn btn-geo btn-xl btn-block geo-home-buttons disabled">Castor</a>
  </div>
  <div class="col-xs-12">
    <a href="" role="button" class="btn btn-geo btn-xl btn-block geo-home-buttons disabled">Steering Wheel Travel</a>
  </div>

</div>
{% endblock %}